:3000

proxy /newsapi.org https://newsapi.org/?apiKey={$NEWSAPI_API_KEY} {
	without /newsapi.org
}

proxy /thecatapi.com https://thecatapi.com/?api_key={$CATAPI_API_KEY} {
	without /thecatapi.com
}

proxy /api.betterdoctor.com https://api.betterdoctor.com/?user_key={$BETTERDOCTOR_USER_KEY} {
	without /api.betterdoctor.com
}

proxy /www.alphavantage.co https://www.alphavantage.co/?apikey={$ALPHAVANTAGE_API_KEY} {
	without /www.alphavantage.co
}

proxy /api.infermedica.com https://api.infermedica.com {
	without /api.infermedica.com
	header_upstream App-Id {$INFERMEDICA_APP_ID}
	header_upstream App-Key ${INFERMEDICA_APP_KEY}
}
